<nav class="bg-gray-100 border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Ebook Hub</span>
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
        <li class="text-sm  text-gray-500 dark:text-white hover:underline">
          user@mail.com
        </li>
        <li>
          <%= link_to 'Edit Profile', "#", class: "text-sm  text-blue-600 dark:text-blue-500 hover:underline" %>
        </li>
        <li>
          <%= link_to 'Logout', "#", data: { turbo_method: :delete }, class: "text-sm  text-blue-600 dark:text-blue-500 hover:underline" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="bg-gray-100 border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
        <li>
          <%= link_to "Home", root_path, class: "block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" %>
        </li>
        <li>
          <%= link_to "Ebooks", ebooks_path, class: "block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
